<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="{%static "css/signup.css"%}"/>
    <link rel='stylesheet' href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <div class="wrapper">
        <form action="" method="post">
            {% csrf_token %}
            <h1>SignUp</h1>
            <div class="input-box" id="First-Last">
                <input type="text" placeholder="First Name" name="FirstName" required>
                <input type="text" placeholder="Last Name" name="LastName" required>
                <i class='bx bxs-user'></i>   
            </div>
            <div class="input-box">
                <input type="email" placeholder="Email" name="Email" required>
                <i class='bx bxl-gmail' ></i>   
            </div>
            <div class="input-box">
                <input type="password" placeholder="Password" name="Password" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Conform Password" name="RePassword" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            {% comment %} <div class="input-box">
                <input type="number" placeholder="Phone No" name="PhoneNo" required>
                <i class='bx bxs-phone'></i>
            </div> {% endcomment %}
            <div class="remember-forgot">
                <label ><input type="checkbox" required oninvalid="this.setCustomValidity('You must
                accept the terms & conditions to register your account')">Accept Terms & Conditions</label>
            </div>

            <button type="submit" class="btn">Sign Up</button>

            <div class="register-link">
                <p>Already Have an account? 
                    <a href=" {% url 'login' %} ">Login</a>
                </p>
            </div>
        </form>
    </div>
</body>
</html>